@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.resume {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0.3in;
  width: 8.5in;
  height: 12in;
  background-color: rgb(250, 255, 255);
  box-shadow: 0 3px 8px -3px rgba(0, 0, 0, 0.7);

  @media print {
    @page {
      size: 8.5in 12in;
    }
    height: 100%;
    width: 100%;
    position: fixed;
    padding: 0.3in;
    top: 0;
    left: 0;
    margin: 0 auto;
    //line-height: 18px;
  }
}
